[*]
insert_final_newline = true

[*.fsx]
trim_trailing_whitespace = true
indent_size = 4
indent_style = space

# Puzzle Files
[*.txt]
trim_trailing_whitespace = false
insert_final_newline = false
end_of_line = lf
